{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-4">Index</h1>

    <table class="table-auto w-full">
        <thead>
            <tr>
                <th class="px-4 py-2">Id</th>
                <th class="px-4 py-2">Email</th>
                <th class="px-4 py-2">Roles</th>
                <th class="px-4 py-2">Password</th>
                <th class="px-4 py-2">Firstname</th>
                <th class="px-4 py-2">Lastname</th>
                <th class="px-4 py-2">IsVerified</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="border px-4 py-2">{{ user.id }}</td>
                <td class="border px-4 py-2">{{ user.email }}</td>
                <td class="border px-4 py-2">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="border px-4 py-2">{{ user.password }}</td>
                <td class="border px-4 py-2">{{ user.firstname }}</td>
                <td class="border px-4 py-2">{{ user.lastname }}</td>
                <td class="border px-4 py-2">{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td class="border px-4 py-2">
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-blue-600 hover:underline">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="text-green-600 hover:underline ml-2">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="border px-4 py-2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}" class="block mt-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Create new</a>
{% endblock %}
